{% extends "core/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <h3 class="title is-3">{% trans "Password Reset" %}</h3>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p class="mb-3">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form class="login" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}

                {% for field in form %}
                    <label class="label">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
                
                <div class="buttons">
                    <input class="button is-success primaryAction" type="submit" value="{% trans 'Reset My Password' %}" />
                </div>
            </form>

            <p class="mb-3">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
</div>

{% endblock %}