{% extends 'core/base.html' %}

{% block title %}Edit Profile | TutorFinder{% endblock %}

{% load static %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <h3 class="title is-3">Edit Profile</h3>
            <h5 class="subtitle is-5">
                Tell us more about yourself.
            </h5>

            <div class="column is-12 is-flex is-flex-direction-column is-align-items-center mb-3">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
                <div class="file mt-3">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                    </label>
                </div>
            </div>



            <form method="POST">
                
                {% csrf_token %}


                <!-- start first content -->
                <h4 class="title is-4">Basic Info</h4>
                <div class="content p-1 has-background-grey-lighter mb-6">

                    <!-- first row fields -->
                    <div class="field is-horizontal is-justify-content-space-between">
                        <div class="field column is-5">
                            <label class="label">First Name</label>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="First Name">
                            </p>
                        </div>

                        <div class="field column is-5">
                            <label class="label">Last Name</label>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="Last Name">
                            </p>
                        </div>

                        <div class="field column is-2">
                            <label class="label">Gender</label>
                            <div class="select is-expanded">
                                <select class="is-hovered">
                                <option>Male</option>
                                <option>Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- second row fields -->
                    <div class="field is-horizontal is-justify-content-space-between">

                        <div class="field column is-3">
                            <label class="label">Date of Birth</label>
                            <p class="control is-expanded">
                                <input class="input" type="date" value="1988-10-12"
                                min="1988-01-01" max="2025-01-01">
                            </p>
                        </div>

                        <div class="field column is-5">
                            <label class="label">Email</label>
                            <p class="control is-expanded">
                                <input class="input" type="email" placeholder="{{user.email}}" disabled>
                            </p>
                        </div>
        
                        <div class="field column is-4">
                            <label class="label">Mobile Number</label>
                            <p class="control is-expanded">
                                    <input class="input" type="tel" placeholder="Mobile Number">
                            </p>
                        </div>
                    </div>

                </div>
                <!-- end first content -->

                <!-- start second content -->
                <h4 class="title is-4">Home Address</h4>
                <div class="content p-1 has-background-grey-lighter mb-6">

                    <!-- first row fields -->
                    <div class="field is-horizontal is-justify-content-space-between">
                        <div class="field column is-6">
                            <label class="label">Address Line 1</label>
                            <p class="control is-expanded">
                                <textarea rows="3" class="textarea" placeholder="Address Line 1"></textarea>
                            </p>
                        </div>

                        <div class="field column is-6">
                            <label class="label">Address Line 2</label>
                            <p class="control is-expanded">
                                <textarea rows="3" class="textarea" placeholder="Address Line 2"></textarea>
                            </p>
                        </div>
                    </div>
                    
                    <!-- second row fields -->
                    <div class="field is-horizontal is-justify-content-space-between">
                        <div class="field column is-5">
                            <label class="label">City</label>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="City">
                            </p>
                        </div>

                        <div class="field column is-4">
                            <label class="label">Country</label>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="Country">
                            </p>
                        </div>
        
                        <div class="field column is-3">
                            <label class="label">Postal Code</label>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="Postal Code">
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end second content -->


                <!-- Field for teachers -->
                {% if user.user_type == 'TEACHER' %}
                    <h4 class="title is-4">Qualifications</h4>
                    <div class="content p-1 has-background-grey-lighter">

                        <!-- first row fields -->
                        <div class="field is-horizontal is-justify-content-space-between">
                            <div class="field column is-8">
                                <label class="label">School Name</label>
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="School Name">
                                </p>
                            </div>

                            <div class="field column is-4">
                                <label class="label">Level</label>
                                <div class="select is-fullwidth">
                                    <select class="is-hovered">
                                    <option>Undergraduate</option>
                                    <option>Postgraduate</option>
                                    <option>Doctoral</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- second row fields -->
                        <div class="field is-horizontal is-justify-content-space-between">
                            <div class="field column is-12">
                                <label class="label">Teaching Experience</label>
                                <p class="control is-expanded">
                                    <textarea rows="3" class="textarea" placeholder="Teaching Experience"></textarea>
                                </p>
                            </div>
                        </div>

                        <!-- third row fields -->
                        <div class="field is-horizontal is-justify-content-space-between">

                            <div class="field column is-4">
                                <label class="label">Subjects</label>
                                <div class="content is-flex is-flex-direction-column is-align-items-start">
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        Accounting
                                    </label>
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        Communication / Speech
                                    </label>
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        Computer Science
                                    </label>
                                </div>
                            </div>

                            <div class="field column is-4">
                                <label class="label is-invisible">Subjects</label>
                                <div class="content is-flex is-flex-direction-column is-align-items-start">
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        English
                                    </label>
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        Humanities
                                    </label>
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        Journalism / Writing
                                    </label>
                                </div>
                            </div>

                            <div class="field column is-4">
                                <label class="label is-invisible">Subjects</label>
                                <div class="content is-flex is-flex-direction-column is-align-items-start">
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        Math
                                    </label>
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        Natural Science
                                    </label>
                                    <label class="checkbox mb-3">
                                        <input type="checkbox">
                                        Social Science
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


                <div class="buttons">
                    <button class="button is-success" type="submit">Save</button>
                </div>
            </form>

            {% for error in form.non_field_errors %}
                <ul><p class="has-text-danger">{{ error|escape }}</p></ul>
            {% endfor %}



        </div>
    </div>
</div>

{% endblock %}