{% extends 'core/base.html' %}

{% block title %}Search Tutor | TutorFinder{% endblock %}

{% load static %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-6 is-offset-3" id="searchWrapper">
            <h3 class="title is-3">Search Tutor</h3>
            <h5 class="subtitle is-5">
                Find the best tutor.
            </h5>


            <form id="searchForm" class="mb-6">
                
                <div class="field">
                    <div class="control is-expanded">
                      <input id="searchBar" class="input is-medium" type="text" placeholder="Find a tutor">
                    </div>
                </div>

            </form>

            <ul id="tutorList"></ul>


        </div>
    </div>
</div>


<script>
  const tutorList = document.getElementById('tutorList');
  const searchBar = document.getElementById('searchBar');
  let tutors = [];
  
  
  // change the tutor listing everytime a new character
  // is entered in the search bar
  searchBar.addEventListener('keyup', (e) => {
      const searchString = e.target.value.toLowerCase();
  
      const filteredTutors = tutors.filter((teacher) => {
          console.log(teacher)
          return (
              teacher.subject.toLowerCase().includes(searchString) ||
              teacher.first_name.toLowerCase().includes(searchString) ||
              teacher.last_name.toLowerCase().includes(searchString)
          );
      });
      displayTutors(filteredTutors);
  });
  
  // fetch tutors via API
  const loadTutors = async () => {
      try {
          const res = await fetch('https://tutorfinderbeta.herokuapp.com/api/v1/user-list/tutors/');
          tutors = await res.json();
  
          displayTutors(tutors);
      } catch (err) {
          console.error(err);
      }
  };
  
  const displayTutors = (teacher) => {
      const htmlString = teacher
          .map((teacher) => {
              return `
              <div class="card mb-6">
              <div class="card-content">
                  <div class="media">
                  <div class="media-left">
                      <figure class="image is-48x48">
                      <img src="{% static '/images/profile-icon.png' %}" alt="Placeholder image">
                      </figure>
                  </div>
                  <div class="media-content">
                      <p class="title is-4">${teacher.first_name} ${teacher.last_name}</p>
                      <p class="subtitle is-6">${teacher.email}</p>
                  </div>
                  </div>
              
                  <div class="content">
                  <p>${teacher.mobile_number}</p>
                  <p class="subtitle is-6 mb-1 mt-3">Mobile #: <span class="is-family-code has-text-weight-semibold">${teacher.mobile_number}</span></p>
                  <p class="subtitle is-6 mb-1">Level: <span class="is-family-code has-text-weight-semibold">${teacher.level}</span></p>
                  <p class="subtitle is-6 mb-1">Subject: <span class="is-family-code has-text-weight-semibold">${teacher.subject}</span></p>
                  </div>
              </div>
              </div>
          `;
          })
          .join('');
      tutorList.innerHTML = htmlString;
  };
  
  loadTutors();
</script>  

{% endblock %}