{% extends 'core/base.html' %}

{% block title %}Search Tutor | TutorFinder{% endblock %}

{% load static %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-6 is-offset-3" id="searchWrapper">
            <h3 class="title is-3">Search Tutor</h3>
            <h5 class="subtitle is-5">
                Find the best tutor.
            </h5>


            <form id="searchForm" class="mb-6">
                
                <div class="field has-addons">
                    <div class="control is-expanded">
                      <input name="search" class="input is-medium" type="text" placeholder="Find a tutor">
                    </div>
                    <div class="control">
                      <button class="button is-info is-medium" type="submit">
                        Search
                      </button>
                    </div>
                  </div>

            </form>


        </div>
    </div>
</div>

<script>
  var form = document.getElementById('searchForm');
  var searchWrapper = document.getElementById('searchWrapper');


  function buildCard(data){

    teachers = data['results']

    if (teachers.length != 0) {
      for (var teacher in teachers){
        teacherDetails = data['results'][teacher]

        if (teacherDetails['subject']) {
          var item = `
          <div class="card mb-6">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">${teacherDetails['first_name']} ${teacherDetails['last_name']}</p>
                  <p class="subtitle is-6">${teacherDetails['email']}</p>
                </div>
              </div>
          
              <div class="content">
                ${teacherDetails['experience']}
                <p class="subtitle is-6 mt-3">Level: <span class="is-family-code has-text-weight-semibold">${teacherDetails['level']}</span></p>
                <p class="subtitle is-6">Subject: <span class="is-family-code has-text-weight-semibold">${teacherDetails['subject']}</span></p>
              </div>
            </div>
          </div>
        `
  
        searchWrapper.innerHTML += item

        }
      }
    } else {
      var item = `
        <div class="card mb-6">
          <div class="card-content">
            <p class="subtitle is-4 has-text-centered">No match found.</p>
          </div>
        </div>
      `
      
      searchWrapper.innerHTML += item
      
    }

  }

  function handleForm(e) {
      event.preventDefault();

      const formData = new FormData(e.target);
      const formProps = Object.fromEntries(formData.entries());

      var url = "{{ request.scheme }}://{{ request.get_host }}{% url 'user_list' %}?"
      var urlParams = url + new URLSearchParams({
        'search': formProps['search']
      })

      fetch(urlParams)
      .then(resp => resp.json())
      .then(function(data){
        buildCard(data)
      })
      
  } 
  
  
  form.addEventListener('submit', handleForm);


</script>

{% endblock %}